<section id="home-welcome">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img class="img-responsive" src="/static/img/home.jpg" alt="Barranco, Centro de Arte">
			</div>
		</div>
	</div>
</section>

<section id="home-tagline">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>
					Imagination is more important than knowledge.
					<br>Knowledge is limited. Imagination encircles the world.
				</h2>
			</div>
			<div class="col-md-6">
				<p>Cum sociis natoque penatibus et magnis dis parturient. Integer legentibus erat a ante historiarum dapibus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Ullamco laboris nisi ut aliquid ex ea commodi consequat. Quid securi etiam tamquam eu fugiat nulla pariatur.</p>
				<p>Quisque placerat facilisis egestas cillum dolore. Curabitur est gravida et libero vitae dictum. Idque Caesaris facere voluntate liceret: sese habere. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. At nos hinc posthac, sitientis piros Afros.</p>
				<p>A communi observantia non est recedendum. Mercedem aut nummos unde unde extricat, amaras. Prima luce, cum quibus mons aliud  consensu ab eo. A communi observantia non est recedendum. A communi observantia non est recedendum.</p>
			</div>
		</div>
	</div>
</section>

<section id="home-featured">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Destacados</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="featured-art">
					<img src="/static/img/demo/featured-1.jpg" class="img-responsive"
					alt="Integer legentibus erat a ante historiarum dapibus.">
				</div>
			</div>
			<div class="col-md-4">
				<div class="featured-art">
					<img src="/static/img/demo/featured-2.jpg" class="img-responsive"
					alt="Paullum deliquit, ponderibus modulisque suis ratio utitur.">
				</div>
			</div>
			<div class="col-md-4">
				<div class="featured-art">
					<img src="/static/img/demo/featured-3.jpg" class="img-responsive"
					alt="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
				</div>
			</div>
		</div>
	</div>
</section>