@import "nib"

@import "vendor/bootstrap.min.css"
@import "fonts/font-awesome.css"
@import "fonts/raleway.css"
@import "fonts/open-sans.css"

$blue-color = #032c52
$subblue-color = #0787c8
$lan-azul = #064280 

$font-color = #23323a

*
	font-family 'Open Sans', Helvetica, Segoe UI, Arial, sans-serif
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	color $font-color 
	
body
	padding-top 70px
	
@import "blocks/general-panel" 
@import "blocks/header-panel"
@import "blocks/content-panel"
@import "blocks/activities"