<div class="row">
	
	{{ $admin := .ADMIN  }}
	{{ $users := .Users }}
	

	<div class="col-md-3 bg-danger colum-activity" id="impedidas">

		<h1 class="page-heading">Impedidas</h1>
		{{ if $admin }}
		<button type="button" class="btn  btn-defaul" data-toggle="modal" data-target="#myModal">
  				Nueva Actividad
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Nueva Actividad</h4>
		      </div>
		      <div class="modal-body">
		      		<div class="row">
		      			<div class="col-md-8">
		      				<form class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-10">
									  	<label class="col-sm-2 control-label">Nombre</label>
								     	<input type="text" class="form-control" id="name-activity" value="" placeholder="@Ordenar Ficheros">
								  	</div>
								</div>
								<div class="form-group">
								    <div class="col-sm-10">
								  		<label for="inputDescription" class="col-sm-2 control-label">Descripción</label>
								   		<textarea class="form-control" id="description-activity" rows="3" placeholder="@Ingrese Descripcion"></textarea>
								  	</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10">
	                					<div class="input-group date">
	                    					<input type="text" class="form-control" name="expiracion-activity" id="datetimepicker1" placeholder="Fecha expiracion" />
	                    					<span class="input-group-addon">
	                        					<span class="fa fa-calendar fa-fw"></span>
	                    					</span>
	                					</div>
	                				</div>
            					</div>
            					<div class="form-group">
								    <div class="col-sm-10">
								  		<label for="inputResources" class="col-sm-2 control-label">Recursos</label>
		            					<select class="form-control input-sm" name="recursos" id="recursos" >
											<option disabled selected>Selecionar</option>
											{{ range $users }}
													<option value="{{ .ID }}" selected>{{ .FirstName }} {{ .LastName }}</option>  
											{{ end }}
										</select>
									</div>
								</div>
								<div class="form-group">
								    <div class="col-sm-10">
								  		<label for="inputEstado" class="col-sm-2 control-label">Estado</label>
		            					<select class="form-control input-sm" name="estado" id="estado">
											<option disabled selected>Selecionar</option>
											<option value="Impedidos" selected>Impedidos</option>
											<option value="Pendientes" selected>Pendientes</option>
											<option value="EnProceso" selected>En Proceso</option>
											<option value="Terminados" selected>Terminados</option>  
										</select>
									</div>
								</div>
								<div class="form-group">
								    <div class="col-sm-10">
								  		<label for="inputPioridad" class="col-sm-2 control-label">Pioridad</label>
		            					<select class="form-control input-sm" name="pioridad" id="pioridad">
											<option disabled selected>Selecionar</option>
											<option value="Alta" selected>Alta</option>
											<option value="Media" selected>Media</option>
											<option value="Baja" selected>Baja</option>
											
										</select>
									</div>
								</div>					
							</form>
		      			</div>
		      			<div class="col-md-4">
		      				<h5 class="page-heading">Acciones</h5>
		      				
		      			</div>
		      		</div>
		       Comments
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-primary" id="btn-new-activity">Crear</button>
		      </div>
		    </div>
		  </div>
		</div>
		{{ end }}
		<br>
		<br>
			{{ range  .Impedidas}}
				
				<div class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#activityModal">
					<p><label>Actividad: {{ .Title }}</label></p>
					<p><label>Pioridad: {{ .Pioridad }}</label></p>
				</div>
		<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ .Title }}</h4>
		      </div>
		      <div class="modal-body">
		      		<div class="row">
		      			<div class="col-md-8">
		      				<form class="form-horizontal">
								
								<div class="form-group">
								    <div class="col-sm-10">
								    	<label for="ResponseDescription" >Descripcion:</label><br><br>
								    	<p id="description-impedidos">{{ .Description }}</p>
								  		
								  	</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10">
	                					<label for="ResponseDate"> Expira: {{ .ExpireDates }}</label>
	                				</div>
            					</div>
            					
								<div class="form-group">
								    <div class="col-sm-10">
								  		<label for="inputEstado" class="col-sm-2 control-label">Estado</label>
		            					<select class="form-control input-sm" name="estado" id="estado">
											<option disabled selected>Selecionar</option>
											<option value="Impedidos" selected>Impedidos</option>
											<option value="Pendientes" selected>Pendientes</option>
											<option value="EnProceso" selected>En Proceso</option>
											<option value="Terminados" selected>Terminados</option>  
										</select>
									</div>
								</div>				
							</form>
		      			</div>
		      			
		      		</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" id="btn-closeImpedidos" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-primary" id="btn-new-activity">actualizar</button>
		      </div>
		    </div>
		  </div>
		</div>	
				
			{{ end }}

					<!-- Modal -->
		

	</div>
	<div class="col-md-3 bg-info colum-activity" id="pendientes">
		<h1 class="page-heading">Pendientes</h1>
		{{ if $admin }}
		<button type="button" class="btn  btn-defaul" data-toggle="modal" data-target="#myModal">
  				Nueva Actividad
		</button>

		<!-- Modal -->
		
		{{ end}}
		<br>
		<br>
		<div class="row">
		{{ range  .Pendientes}}
			<div class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#activityModalPendientes">
					<p><label>Actividad: {{ .Title }}</label></p>
					<p><label>Pioridad: {{ .Pioridad }}</label></p>
			</div>
			<div class="modal fade" id="activityModalPendientes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ .Title }}</h4>
		      </div>
		      <div class="modal-body">
		      		<div class="row">
		      			<div class="col-md-8">
		      				<form class="form-horizontal">
								
								<div class="form-group">
								    <div class="col-sm-10">
								    	<label for="ResponseDescription" >Descripcion:</label><br><br>
								    	<p>{{ .Description }}</p>
								  		
								  	</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10">
	                					<div class="input-group date">
	                    					
	                					</div>
	                				</div>
            					</div>
            					
								<div class="form-group">
								    <div class="col-sm-10">
								  		<label for="inputEstado" class="col-sm-2 control-label">Estado</label>
		            					<select class="form-control input-sm" name="estado" id="estado">
											<option disabled selected>Selecionar</option>
											<option value="Impedidos" selected>Impedidos</option>
											<option value="Pendientes" selected>Pendientes</option>
											<option value="EnProceso" selected>En Proceso</option>
											<option value="Terminados" selected>Terminados</option>  
										</select>
									</div>
								</div>				
							</form>
		      			</div>
		      			
		      		</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-primary" id="btn-new-activity">actualizar</button>
		      </div>
		    </div>
		  </div>
		</div>	

		{{ end }}
		</div>
		
		
	</div>
	<div class="col-md-3 bg-primary colum-activity" id="proceso">
		<h1 class="page-heading">En Proceso</h1>
		{{ if $admin }}
		<button type="button" class="btn  btn-defaul" data-toggle="modal" data-target="#myModal">
  				Nueva Actividad
		</button>

		<!-- Modal -->
		{{ end }}
		<br>
		<br>
		{{ range  .Proceso}}
			<div class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#activityModalProceso">
					<p><label>Actividad: {{ .Title }}</label></p>
					<p><label>Pioridad: {{ .Pioridad }}</label></p>
			</div>
			<div class="modal fade" id="activityModalProceso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ .Title }}</h4>
		      </div>
		      <div class="modal-body">
		      		<div class="row">
		      			<div class="col-md-8">
		      				<form class="form-horizontal">
								
								<div class="form-group">
								    <div class="col-sm-10">
								    	<label for="ResponseDescription" >Descripcion:</label><br><br>
								    	<p>{{ .Description }}</p>
								  		
								  	</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10">
	                					<div class="input-group date">
	                    					
	                					</div>
	                				</div>
            					</div>
            					
								<div class="form-group">
								    <div class="col-sm-10">
								  		<label for="inputEstado" class="col-sm-2 control-label">Estado</label>
		            					<select class="form-control input-sm" name="estado" id="estado">
											<option disabled selected>Selecionar</option>
											<option value="Impedidos" selected>Impedidos</option>
											<option value="Pendientes" selected>Pendientes</option>
											<option value="EnProceso" selected>En Proceso</option>
											<option value="Terminados" selected>Terminados</option>  
										</select>
									</div>
								</div>				
							</form>
		      			</div>
		      			
		      		</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-primary" id="btn-new-activity">actualizar</button>
		      </div>
		    </div>
		  </div>
		</div>	

		{{ end }}
	</div>
	<div class="col-md-3 bg-success colum-activity" id="terminadas">
		<h1 class="page-heading">Terminadas</h1>
		{{ if $admin }}
		<button type="button" class="btn  btn-defaul" data-toggle="modal" data-target="#myModal">
  				Nueva Actividad
		</button>

		<!-- Modal -->

		{{ end }}
		<br>
		<br>
		{{ range  .Terminados}}
			<div class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#activityModalTerminados">
					<p><label>Actividad: {{ .Title }}</label></p>
					<p><label>Pioridad: {{ .Pioridad }}</label></p>
			</div>
			<div class="modal fade" id="activityModalTerminados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ .Title }}</h4>
		      </div>
		      <div class="modal-body">
		      		<div class="row">
		      			<div class="col-md-8">
		      				<form class="form-horizontal">
								
								<div class="form-group">
								    <div class="col-sm-10">
								    	<label for="ResponseDescription" >Descripcion:</label><br><br>
								    	<p>{{ .Description }}</p>
								  		
								  	</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10">
	                					<div class="input-group date">
	                    					
	                					</div>
	                				</div>
            					</div>
            					
								<div class="form-group">
								    <div class="col-sm-10">
								  		<label for="inputEstado" class="col-sm-2 control-label">Estado</label>
		            					<select class="form-control input-sm" name="estado" id="estado">
											<option disabled selected>Selecionar</option>
											<option value="Impedidos" selected>Impedidos</option>
											<option value="Pendientes" selected>Pendientes</option>
											<option value="EnProceso" selected>En Proceso</option>
											<option value="Terminados" selected>Terminados</option>  
										</select>
									</div>
								</div>				
							</form>
		      			</div>
		      			
		      		</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-primary" id="btn-new-activity">actualizar</button>
		      </div>
		    </div>
		  </div>
		</div>	

		{{ end }}
	</div>
	
</div>