<div class="row">
	<div class="col-md-3 bg-danger" id="impedidas">
		<h1 class="page-heading">Impedidas</h1>
		<button type="button" class="btn  btn-defaul" data-toggle="modal" data-target="#myModal">
  				Nueva Actividad
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Nueva Actividad</h4>
		      </div>
		      <div class="modal-body">
		      		<div class="row">
		      			<div class="col-md-8">
		      				descripcion
		      			</div>
		      			<div class="col-md-4">
		      				Botones
		      			</div>
		      		</div>
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-primary">Crear</button>
		      </div>
		    </div>
		  </div>
		</div>
		<br>
		<br>
	</div>
	<div class="col-md-3 bg-info" id="pendientes">
		<h1 class="page-heading">Pendientes</h1>
		<button class="btn btn-default">Nueva Actividad</button>
		<br>
		<br>
	</div>
	<div class="col-md-3 bg-primary" id="proceso">
		<h1 class="page-heading">En Proceso</h1>
		<button class="btn btn-default">Nueva Actividad</button>
		<br>
		<br>
	</div>
	<div class="col-md-3 bg-success" id="terminadas">
		<h1 class="page-heading">Terminadas</h1>
		<button class="btn btn-default">Nueva Actividad</button>
		<br>
		<br>
	</div>
</div>